<!DOCTYPE html>
<html>
<head>
	<title>DojoRecipes</title>
</head>
<body>
	<h1>DojoRecipes</h1>

	<form action="register" method="post">
		{% csrf_token %}
		Username: <input type="text" name="username"><br>
		Email: <input type="text" name="email"><br>
		Password: <input type="password" name="password"><br>
		Confirm Password: <input type="password" name="confirm"><br>
		<input type="submit" value="Register">
	</form>

	<form action="login" method="post">
		{% csrf_token %}
		Email: <input type="text" name="email"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="Login">
	</form>

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

</body>
</html>